@font-face {
	font-family: BrandonTextRegular;
	src: url(../assets/BrandonTextRegular.otf);
}

@font-face {
	font-family: BrandonTextRegular;
  font-weight: 700;
	src: url(../assets/BrandonTextBold.otf);
}

body {
  background-color:#F0FFE5;
  font-family: BrandonTextRegular, 'sans-serif';
}

nav {
  font-weight: 700;
  text-transform: uppercase;
}

#movers-row div {
	width: 10%;
	float: left;
}

.roundedImage {
  height: 100px;
  width: 100px;
  border-radius: 50%
}

/* .container {
  border: 1px solid black;
} */

img {
  display:block;
}

#windfarmFigure > * {
  width: 100%;
}

.lead {
	font-weight: 700;
	text-align: center;
  margin: 70px;
  margin-left: 30px;
}

h1{
	margin-top: 50px;
	font-family: BrandonTextRegular, 'sans-serif';
	color: #82d4df;
	word-spacing: 10px;
}

p{
	font-family: BrandonTextRegular, 'sans-serif';
}
